{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <aside class="actions">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                    </a>
                {% endif %}
            </aside>
            <time class="date">published: {{ post.published_date }}</time>
            <h2><a href="{% url 'post_detail' pk=post.pk%}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock content %}
